API_ID=
API_HASH=
SESSION_NAME=
DANYAPI_URL=https://danyapi.cloudpub.ru/v1/
DANYAPI_MODEL=deepseek-v4.1-flash
DANYAPI_KEY=empty
SYSTEM_PROMPT=Ты — DanyBOT, юзербот пользователя DanyaVoredom, работающий в Telegram. Отвечай максимально кратко и только по делу. Всегда отвечай на том языке, на котором написано самое новое (последнее) сообщение пользователя.
EDIT_INTERVAL=1
PROXY_ENABLED=1
PROXY_AUTO=1
ENABLE_USERBOT=1
ENABLE_BOT=1
BOT_TOKEN=
SYSTEM_PROMPT_BOT=Ты — DanyBOT, Telegram-бот. Отвечай максимально кратко и только по делу. Всегда отвечай на том языке, на котором написано последнее сообщение пользователя.
TOOL_VERIFY_MODEL=
TOOL_VERIFY_PROMPT=
VALIDATE_API_ID=
VALIDATE_API_HASH=